html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#quote-box {
  border-radius: 5px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 550px;
  box-sizing: border-box;
  background-color: rgb(242, 236, 190);
}

#quote {
  margin-bottom: 15px;
  color: rgb(154, 59, 59);
}

.bottom-quote {
  display: block;
  text-align: right;
  color: rgb(154, 59, 59);
}

#text {
  color: rgb(154, 59, 59);
  margin: 0;
  font-size: 30px;
  margin-bottom: 15px;
  height: auto;
}

#author,
#movie {
  font-size: 13px;
  margin: 0 0 15px 0;
  text-align: right;
}

#btns {
  display: flex;
  justify-content: space-between;
}

#new-quote {
  font-family: "Press Start 2P", cursive;
  color: rgb(226, 199, 153);
  background-color: rgb(154, 59, 59);
  border: none;
  padding: 20px;
}

#new-quote:hover {
  color: rgb(242, 236, 190);
  background-color: rgb(192, 130, 97);
}

#creator {
  color: rgb(242, 236, 190);
  margin: 15px;
  text-align: center;
}

#socials {
  display: flex;
  gap: 10px;
}

#tweet-quote,
#tumblr-quote {
  color: rgb(154, 59, 59);
  text-decoration: none;
  background-color: rgb(192, 130, 97);
  color: rgb(242, 236, 190);
  padding: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tweet-quote:hover,
#tumblr-quote:hover {
  color: rgb(154, 59, 59);
  background-color: rgb(192, 130, 97);
  color: rgb(242, 236, 190);
}

#root {
  font-family: "Press Start 2P", cursive;
  background-color: rgb(226, 199, 153);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.nav-projects {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 0.9em;
  line-height: 1.3em;
}

.link {
  text-decoration: none;
  color: rgb(154, 59, 59);
}

.link:hover {
  color: rgb(192, 130, 97);
}

.content {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*# sourceMappingURL=App.css.map */
