#drum-machine {
  padding: 30px;
  margin: auto;
  background-color: $primary;
  display: flex;
}

#drum-display {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.drum-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.drum-pad {
  width: 100px;
  height: 80px;
  color: $primary;
  background-color: $ternary;
  border: 10px solid $primary;
  box-shadow: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drum-pad:hover {
  border: 10px solid $secondary;
}
.drum-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  background-color: $ternary;
  padding: 30px;
  box-sizing: border-box;
}

.on-off-btn {
  width: 150px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: $primary;
  cursor: pointer;
}

.on-btn,
.off-btn {
  width: 70px;
  padding: 10px;
  text-align: center;
}

.on-btn {
  color: $primary;
  background-color: greenyellow;
}

.off-btn {
  color: $quadruary;
  background-color: red;
}

.turn-off {
  background-color: $primary;
}

.display-sound-name {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: $quadruary;
  font-size: 0.9em;
}

.volume {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.volumeDisplay {
  background-color: $primary;
  color: $quadruary;
  padding: 10px;
  width: 50px;
  text-align: center;
}

input[type="range"].customSlider {
  -webkit-appearance: none;
  padding: 0;
  font: inherit;
  outline: none;
  color: black;
  cursor: pointer;
  background: $quadruary;
}

/* la zone de déplacement */
input[type="range"]::-webkit-slider-runnable-track {
  height: 20px;
  border: none;
  border-radius: 0;
  background-color: transparent; /* supprimé définie sur l'input */
}
/* le curseur */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* également nécessaire sur le curseur */
  appearance: none;
  margin-top: 0px; /* Centers thumb on the track */
  background-color: $primary;
  height: 20px;
  width: 20px;
}

// input[type="range"] {
//   -webkit-appearance: none;
//   appearance: none;
//   background: transparent;
//   background: $primary;
//   cursor: pointer;
// }

// input[type="range"]::-webkit-slider-runnable-track {
//   background: $primary;
//   height: 1Opx;
// }

// input[type="range"]::-webkit-slider-thumb {
//   width: 40px;
//   color: $primary;
// }
